<div class="container mt-4 mb-4" style="width: 500px;">
    <h2>Centro de mensajes</h2>

    <div style="display: none;" id="userId"><%= user %></div>
    <div id="chatMessages"></div>
    <div class="mb-3">
        <label for="chatMessages" class="form-label">Mensaje</label>
        <input type="text" class="form-control" name="newMessage" id="newMessage" required>
    </div>
    <button id="btnSendChatMEssage" onclick="addMessage()" class="btn btn-primary">Enviar</button>
</div>