<script>

    const socket = io()

    /* Escucho los mensajes del chat */
    socket.on("messages", chat => {
        const html = chat.map(message => {
            return (`
            <p>
                <strong>${message.email}</strong> <span>[${message.date}]</span> :  <i>${message.body}</i>
            </p>
            `);
        }).join(" ")
        document.getElementById("chatMessages").innerHTML = html;
        document.getElementById("newMessage").focus()
        document.getElementById("newMessage").value = ""
    })

    /* Funcion para agregar mensaje al chat */
    const addMessage = () => {
        const user = document.getElementById("userId").innerHTML
        const body =  document.getElementById("newMessage").value
        const date = new Date().toLocaleString();

        const message = {
            user: user,
            date: date,
            body: body
        }
        /* Envio nuevo mensaje al servidor */
        socket.emit('newMessage', message);
        console.log(message)
    }

</script>